{{!-- Padre html, lo que aparezca aqui se va amostrar en todas las paginas Eje: nav global, los metadatos --}}
{{!-- {{{body}}} metadatos del body y lo reconoce por defecto  --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Node Js Css </title>
</head>
<body>
    
</body>
</html>